.App .navbar-brand {
  font-weight: bold;
}

.App a {
  font-size: 1.4rem;
}

.nav {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  margin-bottom: 3rem;
}

.nav .nav-bar {
  min-height: 4.5rem;
}

.nav h2 {
  flex: 1;
}

.nav ul {
  padding: 0;
  display: flex;
}

.nav li {
  list-style: none;
}

.nav li:not(:last-child) {
  margin: 0 2rem;
}

.nav a {
  color: #fff;
}

.nav a:hover,
.nav a:active {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
