.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

.App a {
  font-size: 1.4rem;
}

nav .container-fluid {
  padding-right: 0;
  border-radius: var(--border-radius);
}

.navbar {
}