html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5, h6, ul{
  margin: 0;
}

input[type='file'] {
  width: 100%;
}

/* VARIABLES */
:root {
  --color-light-grey: #e7e7e7;

  --border-grey: 1px solid var(--color-light-grey);

  --border-radius: 3px;
}