.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 2.8rem;
  text-decoration: none;
}

.Home .lander h4 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.Home .lander-image {
  width: 25rem;
}

.Home .notes {
  width: 60%;
  margin: 0 auto;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
}

.Home .notes-header {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notes-item {
  border: 1px solid red;
}

.Home .notes h2 {
  margin-left: 1.5rem;
  font-size: 2rem;
}

.Home .notes h3 {
  font-size: 1.6rem;
}

.Home .notes h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.4rem;
}

.Home .notes p {
  color: #666;
  font-size: 1.2rem;
}

.Home .notes-loading {
  margin: 5rem auto;
}

.Home .lander div {
  padding-top: 20px;
}

.Home .lander div a:first-child {
  margin-right: 20px;
}
