@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 36rem;
  }
}

.Login form {
  border: var(--border-grey);
  border-radius: var(--border-radius);
  padding: 2rem;
  display: flex;
  flex-direction: column;

}

.Login .input-field {
  margin-bottom: 2rem;
}

.Login input {
  font-size: 1.6rem;
}

.Login label {
  font-size: 1.4rem;
}

.Login .btn-login {
  width: 50%;
  margin: 0 auto;
}
