.NewNote form {
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NewNote form textarea {
  height: 30rem;
  width: 70rem;
  font-size: 1.6rem;
}

.NewNote__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  width: 70rem;
}

.NewNote span {
  font-size: 1.2rem;
}

.NewNote__upload {
  display: flex;
  align-items: center;
}

.NewNote__file-name {
  font-size: 1.2rem;
  margin-left: 1rem;
}
