@media all and (min-width: 480px) {
  .Signup {
    padding: 60px 0;
  }
  .Signup form {
    margin: 0 auto;
    max-width: 36rem;
    font-size: 1.4rem;
  }
}

.Signup form {
  border: var(--border-grey);
  border-radius: var(--border-radius);
  padding: 2rem;
<<<<<<< HEAD
=======
  display: flex;
  flex-direction: column;
}

.Signup label {
  font-size: 1.4rem;
}

.Signup .input-field {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}

.Signup div {
  font-size: 1.4rem;
>>>>>>> material-ui
}

.Signup .btn[disabled] {
  pointer-events: none;
}

.Signup button {
  width: 50%;
<<<<<<< HEAD
  margin: 0 auto;
=======
  margin: 1rem auto 0 auto;
>>>>>>> material-ui
}

.Signup form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}
